body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: lightsteelblue;
}

.timelineDate {
    font-weight: bold;
}

h1 {
    font-size: 4rem;
    font-family: "Times New Roman";
    color: lightblue;
}

#subtitle {
    font-size: 2rem;
}

h2{
    font-size: 2rem;
    font-family: "Times New Roman";
    color: dodgerblue;
    text-align: center;
    text-shadow: 10px 10px skyblue;
    
}

.hero-section {
    background: url(images/royal_gorge_bridge.jpg) 50% no-repeat;
    background-size: cover;
    height: 60vh;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
} 
  
.hero-section-text {
    color: white;
    text-shadow: 1px 1px 2px #303030;
    text-align: center;
  }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
    opacity: 0.8;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: beige;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

caption {
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration:underline;
}

.intro {
    text-align: center;
}

table {
    margin: 20px;
    padding: 20px;
    border: 20px ridge lightblue;
}

#history-intro{
    margin: 20px;
}