body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    
}

.timelineDate {
    font-weight: bold;
}

.hero-image {
    position: relative;
    background-image: url(images/royal_gorge_bridge.jpg) no-repeat center;
    background-size: cover;
}

.backgroundText {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}